In [1]:
from cassandra.cluster import Cluster
from cassandra.auth import PlainTextAuthProvider

In [7]:
# CLIENT_ID = 'embHdUzOjFURpqdsJyGLdJzF'
# CLIENT_SECRET = '1Dw.F6ds-2RUr+ARMDamRQ5TDtCJk280T5ynBSBmYanF7Fodd-4bESuBuIg-qgJEgp6q+59ZOP.s7Zszpgj.aKxX2bJkC+_rKAip_Smd.4DN-eSfjlfBWk6L5oHQxAS2'
# TOKEN = 'AstraCS:embHdUzOjFURpqdsJyGLdJzF:9b83b5441169180a22cbe44490d65f976c36601367569a039fe2fc9e2978435b'


CLIENT_ID = 'JvDOuCetRGLqHsZdGiWnazWQ'
CLIENT_SECRET = 'DdcHnE7x3Z11tIaa1.C4D.LS_1PZGxspPaLUKhCEHzI.Lx,4zps6yBIedz-tWg5tM+0IHy-IF2PNzjb.g16x9IORf.55gkD.DlK9,ZTeOij7Gn9zb58j7XlXJkZn5pZQ'
TOKEN = 'DdcHnE7x3Z11tIaa1.C4D.LS_1PZGxspPaLUKhCEHzI.Lx,4zps6yBIedz-tWg5tM+0IHy-IF2PNzjb.g16x9IORf.55gkD.DlK9,ZTeOij7Gn9zb58j7XlXJkZn5pZQ'

In [8]:
cloud_config= {
        'secure_connect_bundle': 'secure-connect-rhtech.zip'
}
auth_provider = PlainTextAuthProvider(CLIENT_ID, CLIENT_SECRET)
cluster = Cluster(cloud=cloud_config, auth_provider=auth_provider)
session = cluster.connect()

session

In [9]:
row = session.execute("select release_version from system.local").one()
if row:
    print(row[0])
else:
    print("An error occurred.")

4.0.0.6816

In [13]:
rows = session.execute("INSERT INTO rh.cities(id,name,country) VALUES (3,'Curitiba','Brasil');")

In [14]:
rows = session.execute('SELECT * FROM rh.cities')
for user_row in rows:
    print(user_row.id, user_row.country, user_row.name)

1 Brasil Londrina
2 Brasil Maring√°
3 Brasil Curitiba